/* styles.css */

/* Apply the font globally */
body, h1, h2, h3, h4, h5, h6, p, div {
    font-family: 'Georgia', serif;
}

body {
    background-color: #000000;
    color: #003262; 
}

.sidebar .sidebar-content {
    background-color: #333333;
    color: #003262; /* Set the text color to white for better contrast */
}

/* h1, h2, h3, h4, h5, h6 {
    color: #000000;
} */

.stButton button {
            /* width: 200px; */
            height: 50px;
            font-size: 16px;
            background-color: #5B9BD5;
            color: #5B9BD5;
            border: 2px solid #5B9BD5;border: #5B9BD5;
            border-radius: 4px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
        }

h1 {
    font-size: 2.5em;            
    color: #555;                 
}

h2 {
    font-size: 2em;              
    color: #5B9BD5;                 
}
/* Custom styles for title */
div[data-testid="stMarkdownContainer"] h1 {
    /* background-color: #222222; */
    color: #003262;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    border-radius: 5px;
}

/* Custom styles for subheader */
div[data-testid="stMarkdownContainer"] h2 {
    background-color: #003262;
    color: #ffffff;
    font-size: 24px;
    /* font-family: Arial, sans-serif; */
    padding: 10px;
    border-radius: 5px;
}

/* Custom styles for write text */
div[data-testid="stMarkdownContainer"] p {
    /* background-color: #d3d1d1; */
    color: #003262;
    font-size: 16px;
    /* font-family: Arial, sans-serif; */
    padding: 10px;
    border-radius: 5px;
}

.stButton button:hover {
    background-color: #d98f1f;
}

.stButton button:active {
    background-color: #d98f1f;
}

.stTextInput {
    font-size: 1.2em;            /* Text input font size */
}

.stMarkdown {
    font-size: 1.1em;            /* Markdown text font size */
    color: #333;                 /* Markdown text color */
}

/* Custom styles for multiselect field */
.css-1e5imcs {
    background-color: #D9661F;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Georgia', serif;
    padding: 10px;
    border-radius: 5px;
}

.css-1okebmr-indicatorSeparator {
    background-color: #D9661F;
}

.css-1hb7zxy-IndicatorsContainer {
    color: #003262;
}

.css-1uccc91-singleValue {
    color: #003262;
}

